.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 16px 32px;
  border-radius: 8px;
  color: white;
  text-align: center;
  background-color: #28a745;
  z-index: 1000;

  &.error {
    background-color: #dc3545;
  }
}